.nav{
	background-color: #66ccff;
	width: 80px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
transition-duration: 1s;
}
.nav:hover{
    width: 200px;

}

.nav a{
  display: flex;
  align-items: center;
  
 
}
img{
	height: 50px;

}

.nav:hover{
	
}
.nav a p{
	color:black;
	opacity: 0;
	transition-duration: 1s;

}
.nav:hover a p{
	opacity: 100;

}
.nav a:hover{
  
}
body{
	margin-top: 100px;
	position: absolute;
}
#my{
	padding-left: 80px;
}